md-sidenav {
    z-index: 160;
}

md-backdrop.md-sidenav-backdrop {
    z-index: 140;
}

.md-select-icon {
    display: none;
}

md-select {
    margin-top: 0px;
}

.md-select-label > span {
    margin: 0 auto;
}

md-icon {
    cursor: pointer;
}

.ios-image {
    width: 386px;
    height: 686px;
    z-index: 5;
}

.iostablet-image {
    width: 908px;
    height: 681px;
}

.ios-icon {
    width: 72 !important;
    height: 72 !important;
    z-index: 10 !important;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 31px;
}

.background {
    position: absolute;
    text-align: center;
    font-size: 23px;
    color: whitesmoke;
    font-family: Helvetica
}

.fieldBorder {
    width: 362px;
    height: 55px;
    background-color: transparent;
    position: absolute;
    z-index: 100;
    margin: 218px 0 0 11px;
    border: #000000 1.6px inset;
    border-radius: 9px;
}

.headerTintColor {
    background-color: #A51623;
    width: 386px;
    height: 55px;
    position: absolute;
    top: 23px;
    text-align: center;
    padding: 15px;
    font-size: 23px;
    color: whitesmoke;
    font-family: Helvetica;
    z-index: 10;
    text-shadow: rgba(255, 255, 255, .2) 0 1px 1px;
    font-weight: 500;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
}

.navigationBarTintColor {
    background-color: #C21E33;
    width: 386px;
    height: 33px;
    position: absolute;
    top: 77px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    font-family: Helvetica;
    z-index: 10;
    padding: 8px;
}

.infoPanel {
    background: #C21E33;
    background: -moz-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C21E33), color-stop(100%, #880014));
    background: -webkit-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: -o-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: -ms-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: linear-gradient(to bottom, #C21E33 0%, #880014 100%);
    width: 386px;
    height: 60px;
    position: absolute;
    top: 110px;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    padding: 15px;
    font-family: Helvetica;
    z-index: 10;
    line-height: 16px;
    margin-bottom: 10px;
}

.infoPanelTransactions {
    height: 79px !important;
}

.standardButton {
    background: #C21E33;
    background: -moz-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C21E33), color-stop(100%, #880014));
    background: -webkit-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: -o-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: -ms-linear-gradient(top, #C21E33 0%, #880014 100%);
    background: linear-gradient(to bottom, #C21E33 0%, #880014 100%);
    position: absolute;
    border-radius: 9px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
    font-family: Helvetica Neue;
    z-index: 10;
}

.login {
    width: 149px;
    height: 47px;
    top: 287px;
    /*            left: 512px;*/
    
    margin-left: 222px;
}

.accountDetail {
    width: 274px;
    height: 47px;
    top: 463px;
    margin-left: 97px;
}

.transfer {
    width: 124px;
    height: 47px;
    top: 414px;
    margin-left: 247px;
}

.secondaryStandardButton {
    background: #333333;
    background: -moz-linear-gradient(top, #888888 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #888888 0%, #333333 100%);
    background: -o-linear-gradient(top, #888888 0%, #333333 100%);
    background: -ms-linear-gradient(top, #888888 0%, #333333 100%);
    background: linear-gradient(to bottom, #888888 0%, #333333 100%);
    width: 116px;
    height: 47px;
    position: absolute;
    top: 414px;
    margin-left: 15px;
    border-radius: 9px;
}

.header {
    font-size: x-large;
    margin-bottom: 10px;
}

.uploadBtn {
    margin: 10px 0 0px 10px;
    font-weight: inherit;
    background-color: whitesmoke;
}

.md-tabs-content {
    overflow: auto;
}

ui-view {
    margin: 0 20px;
}