<html lang="en" ng-app="com.designToolkit">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,300,300italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="bower_components/angular-datepicker/dist/angular-datepicker.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css" />
    <title>Mobiliti Design Toolkit</title>
    <link rel="stylesheet" href="styles/layout.css">
</head>

<body layout="row" ng-controller="mainController">

    <md-sidenav md-component-id="sideBar" class="md-sidenav-left md-whiteframe-z1" md-is-locked-open="$mdMedia('gt-md')" layout="column" flex="20">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Style Guide</span>
            </div>
        </md-toolbar>

        <md-content layout-padding>

            <div ui-view="sideBar"></div>

        </md-content>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon class="fa-navicon fa" ng-click="openMenu()" hide-gt-md></md-icon>

                <span>Mobiliti Design ToolKit</span>
                <span flex></span>
                <md-select ng-model="device" placeholder="select device">
                    <md-option ng-value="opt.link" ng-repeat="opt in links">{{ opt.name }}</md-option>
                </md-select>
            </div>
        </md-toolbar>

        <md-content ui-view="main"></md-content>

    </div>

    <script type="text/ng-template" id="sideBar">
        <div layout="row" flow-init flow-files-submitted="importHandler($flow)" flow-file-success="$flow.msg = $message">
            <md-button flow-btn class="uploadBtn"> <i class="fa fa-file"></i> Upload Background File</md-button>
        </div>
        <md-input-container ng-repeat="field in fields">
            <label>{{field.label}}</label>
            <input type="text" ng-model="colors[field.model]" ng-change="updateColor('{{field.model}}')">

        </md-input-container>

    </script>

    <script type="text/ng-template" id="mainView">
        <md-tabs md-selected="selectedIndexTab">
            <md-tab ng-repeat="tab in tabs">
                <md-tab-label>
                    {{tab.label|uppercase}}
                </md-tab-label>
                <md-content layout="row" layout-align="center start">
                    <mobile-image mb-class="{{image.divClass}}" mb-style="{{image.style}}" ng-repeat="image in tab.imagePlaceholders">
                        <span>{{image.divText}}</span>
                    </mobile-image>
                    <mobile-background mb-class="{{tab.class}}" mb-src="{{tab.background}}" mb-text="{{tab.label}}"></mobile-background>
                    <!--<img ng-src="{{tab.background}}" class="background ios-image" ng-class="tab.ngclass">-->
                    <img ng-src="{{tab.image}}" alt="" class="{{tab.style}}">
                </md-content>
            </md-tab>
        </md-tabs>
    </script>

    <script type="text/ng-template" id="mobileDiv">
        <div class="{{mbClass}}" ng-style="{{mbStyle}}">
            <span ng-transclude></span>
        </div>
    </script>
    <script type="text/ng-template" id="mobileBackDrop">
        <img src="{{mbSrc}}" class="{{mbClass}}" />
    </script>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-datepicker/dist/angular-datepicker.min.js"></script>

    <script src="bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="https://cdn.rawgit.com/dfahlander/Dexie.js/master/dist/latest/Dexie.min.js"></script>
    <script src="designToolkit.js"></script>
    <script src="Controllers/iosController.js"></script>
    <script src="Controllers/iosTabletController.js"></script>
</body>

</html>